<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-back-button slot="start" defaultHref="/login"></ion-back-button>
    <ion-title slot="end" color="white">
      Digital Identification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="home-card ion-margin">
          <ion-img src="../assets/img/id-doc-template.jpg" class="id-doc"></ion-img>
          <ion-item>
            <ion-buttons>
              <ion-button slot="start" color="primary" class="button" (click)="viewID()">
                <ion-icon size="large" name="eye-outline"></ion-icon>
              </ion-button>
              <ion-button color="primary" class="button" routerLink="/send-id">
                <ion-icon size="large" name="mail-outline"  ></ion-icon>
              </ion-button>
              <ion-button slot="end" color="primary" class="button" (click)="viewCertificate()">
                <ion-icon size="large" name="print-outline"></ion-icon>
              </ion-button>
              <ion-button slot="end" color="primary" class="button" (click)="scanBarcode()">
                <ion-icon size="large" name="scan-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
